.casesHeaders{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    /* width: 400px; */
}

.caseTile{
    
    display: flex;
    flex-direction: row;
    padding: 5px;
    /* width: 400px; */
}


.caseTile.selected{
    border-style: dashed;
    border-width: 2px;
    border-color: black;
}



.caseTile.even{
    background-color: #F4F4F4;
}

.caseTile.odd{
    background-color: white;
}

.headerName{
    width: 750px;
    display: flex;
    align-items: flex-start;
}
.headerStatus{
    display: flex;
    align-items: flex-start;
}

.headerEdit{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: pink; */
}

.caseRadios{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}




.caseName {
    width: 750px;
    display: flex;
    align-items: flex-start;
}

.caseStatus {
    display: flex;
    align-items: flex-start;
}

.caseName.Complete{
    color: grey;
    text-decoration: line-through;
}

.caseName.Live{
    color: green;
    text-decoration: underline;
}

.caseName.SecondCall{
    color: blue;
}

