.casesHeaders{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    /* width: 400px; */
}

.caseTile{
    
    display: flex;
    flex-direction: row;
    /* width: 400px; */
}


.caseTile.selected{
    background-color: lightgray;
}

.headerName{
    width: 500px;
    display: flex;
    align-items: flex-start;
}
.headerStatus{
    display: flex;
    align-items: flex-start;
}

.headerEdit{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: pink; */
}

.caseRadios{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}




.caseName {
    width: 500px;
    display: flex;
    align-items: flex-start;
}

.caseStatus {
    display: flex;
    align-items: flex-start;
}

.caseName.Complete{
    color: grey;
    text-decoration: line-through;
}

.caseName.Live{
    color: green;
    text-decoration: underline;
}

.caseName.SecondCall{
    color: blue;
}