.listFilters{
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    gap: 30px;
    width: 100%;

    /* padding-left: 10%; */
    overflow-x: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rightSide{
    flex: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    /* padding-right: 10%; */
}

.currentlyActiveBtn{
    border-radius: 25px;
    background-color: green;
    color:white;
    margin-right: 10%;
}

.ALI1{
    margin-left: 10%;
}

.viewLists{
    /* background-color: aqua; */
    overflow-x: hidden;
}


.listsTable{
    width: 50%;
    min-width: 360px;
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-top: 75px;
    overflow-x: auto;
    flex: 60%;
    
}




.oddRow{background-color: white;}

.evenRow{background-color: khaki;}

.oddRow:hover{
    cursor: pointer;
}

.evenRow:hover{
    cursor: pointer;
}